/* top-level elements */

@font-face {
	font-family: "Nunito";
	src: url("res/Nunito-Regular.ttf");
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: rgb(128, 128, 128);
	font-family: "Nunito", sans-serif;
}

div {
	cursor: default;
}

/* helpful general classes */

.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.key {
	border: solid 1px white;
	border-radius: 5px;
	background: black;
	padding: 0px 5px 0px 5px;
	width: 10px;
}

.center {
	text-align: center;
}

.small {
	font-size: 75%;
}

.big {
	font-size: 150%;
}

/* WebGL canvas */

#gl {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
}

/* debug window */

#debug {
	position: absolute;
	top: 20px;
	left: 20px;

	background: rgba(0, 0, 0, 0.5);
	color: white;

	width: 420px;
	padding: 5px;
	
	font-size: 16pt;

/*	display: none; */
	
	z-index: 5;
}

/* HUD prompts */

#prompts {
	position: absolute;

	width: 100%;
	
	background: transparent;
	color: white;

	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	
	font-size: 16pt;
	text-align: center;
	
	z-index: 5;
}

#prompts p {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* HUD story area */

#story {
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	width: 100%;
	padding: 5px;

	background: rgba(0, 0, 0, 0.75);
	color: white;

	font-size: 14pt;
	
	display: none;
	
	z-index: 5;
}

#story-text {
	text-align: center;
	line-height: 150%;
}

#story-cont {
	position: relative;
	bottom: 5px;
	right: 10px;
	
	background: transparent;
	color: white;

	display: none;
	
	text-align: right;
}

/* HUD progress bar */

#progress {
	position: absolute;

	width: 240px;
	height: 25px;
	padding: 2px;
	
	background: rgba(0, 0, 0, 0.75);
	
	display: none;
	
	z-index: 5;
}

#progress-bar {
	width: 100%;
	height: 25px;
	padding: 0px;
	background: transparent;
	overflow: hidden;
}

#progress-back {
	width: 240px;
	height: 25px;
	background: #0f0;
	background: -webkit-gradient(linear, left top, right bottom, from(#f00), to(#0f0));
	background: -moz-linear-gradient(0, #f00, #0f0);
}

/* mouse tracking surface */

#tracker {

	position: absolute;
	top: 0px;
	left: 0px;
	
	background: transparent;
	z-index: 10;
	
	cursor: default;
}

/* modal cooking dialog */

#cook {
	position: absolute;

	width: 950px;
	
	background: transparent;
	color: white;
	
	font-size: 18pt;
	
	display: none;
	
	z-index: 15;
	
}

.cook-back {
	background: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}

.cook-back:hover {
	background: rgba(64, 64, 64, 0.75);
}

.cook-item {
	width: 450px;
	height: 50px;
	margin: 5px;
	padding: 5px;
	text-align: left;
}

.cook-item-selected {
	text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}

.cook-nav {
	position: relative;
	width: 25px;
	height: 30px;
	padding: 3px 6px 5px 5px;
	text-align: center;
	font-weight: bold;
}
