/* top-level elements */

@font-face {
	font-family: "Nunito";
	src: url("res/Nunito-Regular.ttf");
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: "Nunito", sans-serif;
}

div {
	cursor: default;
}

/* helpful general classes */

.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.key {
	border: solid 1px white;
	border-radius: 5px;
	background: black;
	padding: 0px 5px 0px 5px;
	width: 10px;
}

.center {
	text-align: center;
}

.small {
	font-size: 12pt;
}

.big {
	font-size: 32pt;
}

.shiny {
	text-shadow: 0px 0px 5px white, 0px 0px 5px white, 0px 0px 5px white;
}

/* WebGL canvas */

#gl {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
}

/* debug window */

#debug {
	position: absolute;
	top: 20px;
	left: 20px;

	background: rgba(0, 0, 0, 0.5);
	color: white;

	width: 420px;
	padding: 5px;
	
	font-size: 16pt;

/*	display: none; */
	
	z-index: 5;
}

/* HUD prompts */

#prompts {
	position: absolute;

	width: 100%;
	
	background: transparent;
	color: white;

	text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
	
	font-size: 16pt;
	text-align: center;
	
	z-index: 5;
}

#prompts p {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* HUD panel area */

#panel {
	position: absolute;
	bottom: 20px;
	left: 20px;

	width: 40%;
	padding: 0;
	
	background: transparent;
	
	z-index: 5;
}

/* HUD speech box */

#speech {
	height: 8em;
	width: 100%;
	padding: 5px;
	border-radius: 5px;

	background: rgba(0, 0, 0, 0.75);
	color: white;

	font-size: 16pt;
}

#speech-name {
	text-align: left;
	font-size: 20pt;
}

#speech-text {
	text-align: left;
	line-height: 150%;
	margin-bottom: 20px;
}

#speech-cont {
	position: absolute;
	bottom: 5px;
	right: 0px;
	text-align: right;
	font-size: 12pt;
	visibility: hidden;
}

/* HUD progress bar */

#progress {
	width: 240px;
	height: 25px;
	padding: 2px;
	border-radius: 5px;

	border: solid 1px white;
	background: rgba(0, 0, 0, 0.75);
	
	display: none;
}

#progress-bar {
	width: 100%;
	height: 25px;
	padding: 0px;
	background: transparent;
	overflow: hidden;
}

#progress-back {
	width: 240px;
	height: 25px;
	background: #0f0;
	background: -webkit-gradient(linear, left top, right bottom, from(#f00), to(#0f0));
	background: -moz-linear-gradient(0, #f00, #0f0);
}

/* HUD rating bar */

#rating {
	width: 300px;
	height: 50px;

	color: white;
	font-family: Arial;
	font-size: 32pt;
	text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 15px black;
	
	background: transparent;
	
	display: none;
}

/* mouse tracking surface */

#tracker {

	position: absolute;
	top: 0px;
	left: 0px;
	
	background: transparent;
	z-index: 10;
	
	cursor: default;
}
