/* top-level elements */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: rgb(128, 128, 128);
	font-family: Helvetica;
}

div {
	cursor: default;
}

/* helpful general classes */

.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.key {
	border: solid 1px white;
	border-radius: 5px;
	background: black;
	padding: 0px 5px 0px 5px;
	width: 10px;
}

.center {
	text-align: center;
}

.small {
	font-size: 75%;
}

/* WebGL canvas */

#gl {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	z-index: 0;
}

/* debug window */

#debug {
	position: absolute;
	top: 20px;
	left: 20px;

	background: rgba(0, 0, 0, 0.5);
	color: white;

	width: 425px;
	padding: 5px;
	
	font-size: 16pt;
	font-variant: small-caps;

/*	display: none; */
	
	z-index: 5;
}

/* HUD legend */

#legend {
	position: absolute;
	bottom: 20px;
	left: 20px;

	background: rgba(0, 0, 0, 0.5);
	color: white;
	
	width: 400px;
	height: 20px;
	padding: 5px;
	
	font-size: 12pt;
	font-variant: small-caps;

	z-index: 5;
}

#legend .space5 {
	margin-right: 5px;
}

#legend .space10 {
	margin-right: 10px;
}

#legend div {
	margin-bottom: 8px;
}

/* HUD prompts */

#prompts {
	position: absolute;

	width: 100%;
	
	background: transparent;
	color: white;

	text-shadow: black 0.1em 0.1em 0.2em;
	
	font-size: 20pt;
	font-variant: small-caps;
	text-align: center;
	
	z-index: 5;
}

#prompts p {
	margin-top: 4px;
	margin-bottom: 4px;
}

/* mouse tracking surface */

#tracker {

	position: absolute;
	top: 0px;
	left: 0px;
	
	background: transparent;
	z-index: 10;
	
	cursor: default;
}

/* modal message */

#message {

	position: absolute;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 32px;
	font-variant: small-caps;
	cursor: default;
	z-index: 15;

}

/* modal cooking dialog */

#cook {
	position: absolute;
	
	width: 612px;
	height: 336px;
	bottom: 20px;
	right: 20px;
	
	background: transparent;
	color: white;
	
	font-size: 18pt;
	font-variant: small-caps;
	
	display: none;
	
	z-index: 15;
	
}

.cook-back {
	background: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}

.cook-back:hover {
	background: rgba(64, 64, 64, 0.75);
}

.cook-item {
	width: 160px;
	height: 240px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.cook-nav {
	position: relative;
	width: 25px;
	height: 30px;
	padding: 3px 6px 5px 5px;
	text-align: center;
	font-weight: bold;
}

#cook-prev, #cook-next {
	top: 120px;
}
